<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{item.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <img [src] = "item.imagem" />
    
    <ion-card-content>
      Um dos nossos deliciosos bolos, feito com carinho e especialmente para você, que gosta do que há de melhor no ramo da confeitaria!
    </ion-card-content>
    <ion-button expand="block" [routerLink]="['/pedido',this.item.id]">Pedir esse bolo agora</ion-button>  
  </ion-card>
</ion-content>
